body{
    position: relative; 
}
.container{    
    font-family: Arial, Helvetica, sans-serif;

}
header{     
    background-color: #FFC017;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.8s ease;
}


nav{
    display: flex;
    padding:0.6rem 8rem;
    border-bottom: 1px solid black;
    align-items: center;
    font-size: 0.9; 
    font-weight: 400;  
}
nav p{
    display: inline-block;
    color: black;
}

nav ul{
    white-space: nowrap;
    margin-left: auto;
}
nav ul li {
    display: inline-block;
    margin:0.7rem;
}
button{
    font-weight: bold;
    padding: 10px 16px;
    color: white;
    overflow: hidden;
    border-radius: 99em;
    background: rgba(25, 25, 25, 0.934);
    transition: background-color 0.8s ease;
    border:none;
    box-sizing: border-box;
    
}
button:hover{
    cursor: pointer;
    background-color: black;
}
#tanteM{
    height: 100%;
    margin-left: auto;
}
header+div{
    background-color: #FFC017;  
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;    
}
#accantoAlleM{
   margin-left:10rem;
}
header+div h2{
    font-size: 106px;
    letter-spacing: -0.05em;   
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400; 
    margin-bottom:2rem ;   
}
header+div h3{
    font-size: 24px;
    line-height: 24px;
    width: 70%;
    margin-bottom: 2rem;
}
header+div button{
    font-size: 20px;
    width: 213px;
    padding: 8px 20px;
}
#trend{
    padding-left:10rem;
    padding-top:4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #E6E7E7;
}
#titolo{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
#titolo h2, aside h2{
    font-weight: bold;
    letter-spacing: 0;
    font-size: 1.2rem;
    margin-left: 0.5rem;  
}

#articoliTrend{
    display: flex;    
    align-items: flex-start;
    flex-wrap: wrap;
}
.infoTrend{
    display: flex;
    align-items: center;
}
.autore{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem; 
    width: 100%;
    
}
.autore img{
    width:1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    margin-right: 0.7rem; 
}
section{
    display: flex;
    width: 30%;
    margin-bottom: 1.5rem;
    padding-right: 0.8rem;
    align-items: flex-start;
    margin-right: 2rem;
}
section span{
    color: #E7E7E6;
    font-size:2rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

section a{
    text-decoration: none;
    color: black;
    display: flex;
}
section h2{
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.8rem;   
    line-height: 1.2rem;
}

.autore h4{
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 0.2rem;     
}
section div span{
    font-size: 0.9rem;
    color: #6B6B6B;
    font-weight: 400;
   
}
.autore>h4{
    color: #757575;
}
.articoli{
   width: 60%;
   display: flex;
   flex-direction: column;

}
.articoli section{
    flex: 1;
    width: 100%;
    
}
.articoli section div:first-child{
   margin-right: 1rem;
   width: 100%;
   height: 100%;

}
.articoli section div:first-child p{
    color:#757575;
    margin-top: 0.2rem;
    font-size:1rem;
    line-height: 20px;
    font-weight: 400;
}

.infoArticolo{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.infoArticolo button:last-child{
   margin-left: auto;
   
}
.articoli section>a:last-child{
    margin-left: auto;
}
.articoli section>a>img:last-child{
    width: 200px;
    height: 134px;
}

.icone{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 0.5rem;
    padding:0;
    overflow: hidden;
    display: inline-flex;    
}
.icone:hover{
    background-color: rgba(255, 255, 255, 0);
}

.secondaParteSito{
    margin-top: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
aside{
    width: 30%;
}

aside .categorie{
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   font-weight: 500;
   border-bottom: 1px solid #E6E7E7;
}

aside h2{
    margin-bottom: 1rem;
    margin-left: 0;

}
.categorie a{
    padding:0.8rem;
    border: 1px solid #E6E7E7;
    border-radius: 8%;
    margin-bottom: 0.8rem;
    margin-right: 0.5rem;
}

footer ul {
    list-style: none; 
    padding: 0; 
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

footer ul li{
    margin-right: 1.5rem;
    margin-top: 1rem;
}
footer ul li a, aside a{
    text-decoration: none;
    color:#807575;
}

.sticky{
    transition: background-color 0.8s ease;
    background-color: white;
}

.sticky button{
    transition: background-color 0.8s ease;
    background-color:green;
}

.sticky button:hover{
    background-color:rgb(8, 101, 8);
}

@media screen {
    
}